{% extends 'base.html.twig' %}

{% block title %}Estimate - Entry{% endblock %}

{% block body %}
    <script>
        window.APP = window.APP || {};
        window.APP.estimateJsonRoute = '{{ estimateJsonRoute }}';
        window.APP.estimatePartUpdateRoute = '{{ estimatePartUpdateRoute }}';
    </script>
    <div>
        <label>
            <input type="checkbox" name="enable-edit-mode" data-role="global-action" data-action="toggle-edit-mode"/>
            <span>Enable edit mode</span>
        </label>
    </div>
    <div id="entry-table-container"></div>
{% endblock %}
